.card {
    min-width: 174px;
    margin: 10px;
}

.card-content {
    padding-top: 10px;
    padding-bottom: 10px;
}

.card:hover {
    box-shadow: 0px 8px 16px rgba(0, 0, 0, 0.2);
}

.content h1 {
    margin-bottom: 0.2em;
}

.content p {
    margin-bottom: 0.5em;
}

#weather {
    text-align: right;
}

#weather.content {
    margin-bottom: 0em;
}