.hero {
	display: grid;
	grid-template-rows: min-content min-content;
	grid-template-columns: 1fr;
	justify-items: center;
	background-image: url("../../../assets/images/background.jpg");
	background-position: bottom;
	background-repeat: no-repeat;
	background-size: cover;
}

#buffer {
	margin-top: 100px;
}

#day {
	width: 50%;
}
