.hero {
    display: grid;
    grid-template-rows: 0.5fr 1fr 2fr;
    grid-template-columns: 1fr;
    justify-items: center;
    background-color: #e6f2ff;
}

#content-location {
    margin-top: 50px;
}

#content-today {
    width: 50%;
    height: fit-content;
}

#content-rest {
    display: grid;
    grid-template-rows: 1fr 1fr;
    grid-template-columns: 1fr 1fr 1fr;
    width: 50%;
}