<nav class="navbar is-transparent">
  <div class="container">
    <div class="navbar-brand">
      <a class="navbar-item" href="http://127.0.0.1:4200">
        <img src="../../../assets/images/home.png">
      </a>
      <a role="button" id="burger" #navBurger class="navbar-burger" aria-label="menu" aria-expanded="false" data-target="menu" (click)="toggleNavbar()">
        <span aria-hidden="true"></span>
        <span aria-hidden="true"></span>
        <span aria-hidden="true"></span>
      </a>
    </div>

    <div id="menu" #navMenu class="navbar-menu">
      <div class="navbar-start">
        <a class="navbar-item" href="http://127.0.0.1:4200">
          <strong>Home</strong>
        </a>
      </div>
      <div class="navbar-end">
        <div class="navbar-item">
          <div class="buttons">
            <button id="buttonToday" class="button is-rounded" (click)="showWeatherToday()">
              <strong>Today</strong>
            </button>
            <button id="buttonThisWeek" class="button is-rounded" (click)="showWeatherThisWeek()">
              <strong>This Week</strong>
            </button>
            <button id="buttonNextWeek" class="button is-rounded" (click)="showWeatherNextWeek()">
              <strong>Next Week</strong>
            </button>
          </div>
        </div>
      </div>
    </div>
  </div>
</nav>
<section class="hero">
  <div id="content-location" class="content">
    <h2>Weather in {{location}}</h2>
  </div>
  <div id="content-first" class="content">
    <ng-template #first>

    </ng-template>
  </div>
  <div id="content-rest" class="content">
    <ng-template #rest>

    </ng-template>
  </div>
</section>