<section class="hero">
  <div id="content-location" class="content">
    <h2>Weather in {{location}}</h2>
  </div>
  <div id="content-today" class="content">
    <app-card></app-card>
  </div>
  <div id="content-rest" class="content">
    <div id="second" class="content"></div>
    <div id="third" class="content"></div>
    <div id="fourth" class="content"></div>
    <div id="fifth" class="content"></div>
    <div id="sixth" class="content"></div>
    <div id="seventh" class="content"></div>
  </div>
</section>